{% extends 'base.html'%}
{% block content %}
<div class="container">
    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 border border-2 boder-dark mt-5" style="min-height:450px; margin-left: 22%; background:#e3e3e3">
                    <div class="row" style="background:#bdbdbd">
                        <div class="col-sm-6 p-2 fs-3 text-ocolor" style="min-height:60px;"><b>Sign-In</b></div>
                        <div class="col-sm-6 p2 pt-4 text-bcolor text-end" style="min-height:60px;"><a href="#"><b>Forgot Password</b></a></div>
                    </div>
                   <div class="row">
                    <div class="col-sm-12 mt-5 p-5">
                        <div class="input-group mb-3 ">
                            <span class="input-group-text" ><i class="fa-solid fa-user text-ocolor"></i></span>
                            <input type="text" class="form-control" name="email" required placeholder="Username or Email"/>
                          </div>
                          <div class="input-group mb-3 ">
                            <span class="input-group-text" ><i class="fa-solid fa-key text-ocolor"></i></span>
                            <input type="text" class="form-control" name="passwd"required placeholder=" Password"/>
                          </div><br/>
                          <input type="checkbox"/> Remmeber me<br/></br>
                        </div>
                   </div>
                   <div class="row px-5">
                    <input type="submit" value="Login" class="btn bg-ocolor fs-4" />
                   </div>
                   <hr/>
                <p> Do not have account <a href="#">Sign up Here</a></p>
                </div>
            </div>
        </form>
        </div>
{% endblock %}